.container {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.line {
  border: 1px solid rgba(14, 114, 131, 0.5);
  width: 100%;
}

.weather {
  text-align: center;
}

.weather-title {
  margin: 10px;
}

.deg {
  font-size: 50px;
  margin: 20px;
}

.weather-icon {
  width: 100px;
}

.hourly-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hourly {
  display: flex;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  gap: 10px;
  margin: 10px;
  max-width: 50%;
}

.hourly::-webkit-scrollbar {
  height: 10px;
}

.hourly::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.hourly::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hourly::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.forecast-container {
  width: 100%;
  margin: 10px;
}

.forecast-title {
  text-align: center;
}

.forecast {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.day,
.temp-container {
  flex: 1;
}

.temp-container {
  text-align: right;
}
